:root{
    --variable-police: Arial;
}
p{
    font-family: var(--variable-police);
    text-align: left;
}
h1{
    text-align: left;
    max-height: 10%;
    margin-bottom: 0px;
}
h2{
    text-align: left;
    margin-left: 10%;
}
.split {
    height: 10%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 10%;

}
.splitD{
    height: 80%;
    width: 90%;
    position: fixed;
    bottom:0;
    overflow-x: hidden;
    margin-left: 10%;
}
.left{
    left:0;
}
.right{
    right:0;
    border-style: none;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Home-logo {
    margin-top : 2px;
    height: 4vmin;
    pointer-events: none;
}
.Home-button{
    position : relative;
    float: right;
    margin-top: 5%;
    display: inline-block;
}
.text{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    width: 100%;
    font-family: "Times New Roman";
}

.Home-link {
    color: #61dafb;
}
.popover{
    max-width : 100%;
    width: auto;
}
.form-control{
    max-width: 60%;
}
.popover-button{
    position:relative;
    float:right;
    margin-right: 30%;

}
.dropdown-button{
    position:relative;
    float:right;
    margin-right: 77%;
}
.contactform-input{
    text-align: left;
    width:80%;
    margin-left: 20%;
}
.contactform-title{
    margin-left: 15%;
}
.contactform-div{
    border : thick #0000FF;
}
.file-text{
    margin-top: 5%;
    border-style: solid;
    border-color: #3949AB;
    text-align: left;
    padding: 3%;
}
.file-data{
    max-height: 50px;
}
button{
    border-style: solid;
    border-radius: 30px;
    border-color:#FFFFFF;
    margin-left: 0;
    width: auto;
    float:left;
    color:#FFFFFF;
    background-color : #3949AB;

}

/* Dropdown Button */
.dropbtn {
    min-width: 100%;
    margin-top: 30%;
    color: white;
    border-style: solid;
    border-radius: 30px;
    border-color:#FFFFFF;
    margin-left:0;
    background-color : #3949AB;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: max-content;
    background-color: #f1f1f1;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}