html {
    --font-family: Arial;
}
p {
    font-family: var(--font-family);
}
.split {
    height: 10%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 10%;

}
.splitD{
    height: 80%;
    width: 90%;
    position: fixed;
    bottom:0;
    overflow-x: hidden;
    margin-left: 10%;
}
.left{
    left:0;
}
.right{
    right:0;
    border-style: none;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Home-logo {
    margin-top : 2px;
    height: 4vmin;
    pointer-events: none;
}
.Home-button{
    position : relative;
    float: right;
    margin-top: 5%;
    display: inline-block;
}
.text{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    width: 100%;
    font-family: "Times New Roman";
}

.Home-link {
    color: #61dafb;
}
.Home-title{
    position : relative;
    float: left;
    margin-top: 5%;
}