.Login {
    position:relative;
}

.Login-logo {
    margin-top : 2px;
    height: 4vmin;
    pointer-events: none;
}
.Login-button{
    position: absolute;
}
.Login-text{
    margin-right: 20px;
    display: inline-block;
}
.Login-header {
    position:relative;
    width:100vh;
    flex-direction: column;
    min-height: 15vh;
    margin-top: 100px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    text-align:left;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: Arial;
}

.Login-body{
    justify-content: center;
    color: black;
    text-align:left;
    margin-left: 50px;
    font-size: x-large;
}
.Login-link {
    color: #61dafb;
}

@keyframes Home-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}