h2{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 25px;
}
form{
     margin-left: 50px;
     margin-bottom: 5px;
 }

form, input{
    display: block;
}
form, button{
    position: relative;
    float: left;
    margin-right: 30px;
}