h2{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 25px;
}
form{
    margin-left: 50px;
    margin-bottom: 5px;
}
form, input{
    display: block;
}
.button-style{
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 20%;
}
.signin-form{
    text-align: center;
    align-items: center;
}