h1{
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
form{
    margin-left: 50px;
    margin-bottom: 5px;
}
form, a{
    text-align: left;
}
form, input{
    display: block;
}