.App {
  text-align: center;
  overflow: hidden;
}
form, h1{
  align-items: flex-start;

}
.App-logo {
  margin-top : 2px;
  height: 4vmin;
  pointer-events: none;
}
.form-control-connect{
  size: 50px;
}
.button-connect{
  text-align: center;
  margin-right: 0px;
}
.form-connect{
  text-align: right;
  margin-right: 50px;
}
.App-header {
  background-color: #FFFFFF;
  min-height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:left;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-header-title {
  background-color: #FFFFFF;
  margin-top:50px;
  margin-left:50px;
  min-height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body{
  justify-content: center;
  color: black;
  text-align:left;
  margin-left: 50px;
  font-size: x-large;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
